{% extends "html_email_base.html" %}

{% block content %}
    <h4>Welcome to {{ site_name }}!</h4>

    <p>
        This automated email message is being sent to you on behalf of your
        <a href="http{% if is_secure %}s{% endif %}://{{ request_site }}/">Axis</a> company administrator
        {{ requesting_user.get_full_name }}, who has initiated the registration process to add an
        account for you on
        <a href="http{% if is_secure %}s{% endif %}://{{ request_site }}/">{{ site_name }}</a>. If you
        believe that you have received this email in error, simply ignore this email or contact
        <strong>{{ requesting_user.first_name }}</strong> at {{ requesting_user.work_phone }}
        for clarification.
    </p>

    <p>
        To set your password and activate your account, please click the following link within the
        next {{ expiration_days }} days:<br />

        Please note: Upon clicking the link you will be prompted to set a password and accept the Terms of Service
        (a copy of which can be found <a href="http://pivotalenergy.net/license">Here</a>). If you leave this page
        without setting your password your activation key will become invalid.
        Please contact a support representative for a new activation key.<br/>

        <div style="text-align: center">
            <a href='http{% if is_secure %}s{% endif %}://{{ site.domain }}{% url "registration_activate" activation_key=activation_key %}'>
            <strong>Click Here</strong></a>
        </div>

    <p>
        Once you activate your account you will log into Axis using your email address {{ user.email }}.
    </p>
    <br />

    <p>Sincerely,<br><br>
        <em>The Axis Support Team</em>
    </p>
{% endblock %}
