{% extends "registration/registration_base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

{% if form.errors %}
<p class="error">Your username and password didn't match. Please try again.</p>
{% endif %}
{% block javascript_head %}
    <script>
    jQuery.validator.setDefaults({debug: false,success: "jvf_valid"});
    $(function(){
        $("#myform").validate({
            rules: {
                username: {required: true},
                password: {required: true}
            }
        });

        {% if form.errors %}
        $("input#id_password").focus();
        {% else %}
        $("input#id_username").focus();
        {% endif %}
    });
    </script>
{% endblock %}

<form id="myform" method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
    <div class="span-5"><label for="{{ form.username.auto_id }}">Email</label></div>
    <div class="span-13 last">{{ form.username }}</div>
    <div class="span-5">{{ form.password.label_tag }}</div>
    <div class="span-13 last">{{ form.password }}</div>
<p><a href="{% url auth_password_reset %}">Forgot</a> your password?  Contact your company administrator for access or <a href="mailto://support@pivotalenergy.net">send us an email</a>.</p>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
