{% extends "registration/registration_base.html" %}
{% block page_title %}Change password{% endblock %}

{% block javascript_head %}
    <script>
  	jQuery.validator.setDefaults({debug: false,success: "jvf_valid"});;
  	$(document).ready(function(){
    	$("#myform").validate({
    	rules: {
    		{% if form.new_password1.field.required %} new_password1 : {required : true},{% endif %}
    		{% if form.new_password2.field.required %} new_password2 : {required:true},{% endif %}
    		csrfmiddlewaretoken:{required:true}
    	}
    });});
    </script>
{% endblock %}


{% block content %}
    <form id="myform" method="post" action='{{request.path}}'>{% csrf_token %}
        {{ form.non_field_errors }}
        <div class="span-10">
            <div class="span-3">Password</div><div class="span-7 last">{{ form.new_password1 }}</div>
            <div class="span-3">Confirm</div><div class="span-7 last">{{ form.new_password2 }}</div>
            {% if form.new_password1.errors  %}<div class="span-9 last error">{{ form.new_password1.errors }}</div>{% endif %}
            {% if form.new_password2.errors  %}<div class="span-9 last error">{{ form.new_password2.errors }}</div>{% endif %}
            <div class="span-10 last">&nbsp;</div>
        </div>
        <div class="span-18 last">
            <div class="span-1">&nbsp;</div>
            <div class="span-17 last">
                <ul>
                    <li>Password must be longer than 6 characters.</li>
                    <li>Password must contain at least 1 uppercase letter.</li>
                    <li>Password must contain at least 1 lowercase letter.</li>
                    <li>Password must contain at least 1 digit.</li>
                    <li>Password cannot be based on a common sequence or word.</li>
                </ul>
            </div>
        </div>

        <div class="span-18 last">&nbsp;</div>
        <div class="span-1 last">{{ form.tos }}</div>
        <div class="span-17" style="margin-top: 5px">By clicking you acknowledge receipt and
            agreement to the <a href="/license" target="_blank">License and Terms of Service</a>
        </div>
        {% if form.tos.errors  %}<div class="span-17 last error">You must agree to the Terms of Service</div>{% endif %}
        <div class="span-18 last">&nbsp;</div><div class="span-18 last">&nbsp;</div>
        <div class="span-16">&nbsp;</div>
        <div class="span-1 last"><input title='Submit ' type='submit' name='submit' value='Submit' /></div>
        <div class="span-18">&nbsp;</div>
    </form>
{% endblock %}
