{% extends "registration/registration_base.html" %}
{% block title %}Reset password{% endblock %}
{% block javascript_head %}
    <script>
  	jQuery.validator.setDefaults({debug: false,success: "jvf_valid"});;
  	$(document).ready(function(){
    	$("#myform").validate({
    	rules: {
    		{% if form.email.field.required %} email : {required : true},{% endif %}
    		csrfmiddlewaretoken:{required:true}
    	}
    });});
    </script>
{% endblock %}
{% block content %}
Forgot your password?  Enter your email in the form below and we'll send you
instructions for creating a new one.
<form id="myform" method='post' action=''>{% csrf_token %}
<table>
    {{ form }}
    <tr><td></td><td><input type='submit' value="Reset password" /></td></tr>
</table>
</form>
{% endblock %}
